# 1. Data Import

This notebook and enviroment is completely hosted on the cloud, and downloads the required files to your Google Drive.  To replicate this analysis:

1.   Make a copy of this Notebook to your Drive, and work in the new copy.
2.   Enter this competition https://www.kaggle.com/c/nyc-taxi-trip-duration/data by clicking on Late Submission.
3.   Download your Kaggle API token by going to My Account -> Create New API Token

In [1]:
! pip install -q kaggle

# Choose the kaggle.json file that you downloaded
from google.colab import files
files.upload()

# Make directory named kaggle and copy kaggle.json file there.
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/

# Change the permissions of the file.
! chmod 600 ~/.kaggle/kaggle.json

# Check on data
! kaggle datasets list

Saving kaggle.json to kaggle.json
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
ref                                                         title                                                size  lastUpdated          downloadCount
----------------------------------------------------------  --------------------------------------------------  -----  -------------------  -------------
kimjihoo/coronavirusdataset                                 Coronavirus-Dataset                                  32KB  2020-03-12 19:16:41          11195
sudalairajkumar/novel-corona-virus-2019-dataset             Novel Corona Virus 2019 Dataset                     348KB  2020-03-12 10:57:12          37270
paultimothymooney/coronavirus-genome-sequence               Coronavirus Genome Sequence                           9MB  2020-02-29 00:25:13            124
imdevskp/sars-outbreak-2003-complete-dataset                SARS 2003 Outbreak Complete Dataset                  10KB  2020-02-26 10:25:22            982
imdevskp/ebola-outbreak-20142016-complete-dataset           Ebola 2014-2016 Outbreak Complete Dataset           101KB  2020-02-26 14:36:31           1003
paultimothymooney/repository-of-coronavirus-genomes         Repository of Coronavirus Genomes                    37MB  2020-03-03 02:01:34             62
umangjpatel/pap-smear-datasets                              Pap Smear Datasets                                    6GB  2020-03-07 11:04:23            132
rupals/gpu-runtime                                          Segmentation GPU Kernel Performance Dataset           4MB  2020-03-01 10:04:27            155
brunotly/foreign-exchange-rates-per-dollar-20002019         Foreign Exchange Rates 2000-2019                      1MB  2020-03-03 17:43:07            951
shivamb/real-or-fake-fake-jobposting-prediction             [Real or Fake] Fake JobPosting Prediction            16MB  2020-02-29 08:23:34           1244
shank885/knife-dataset                                      Knife Dataset                                         1MB  2020-03-02 06:43:53            223
prakrutchauhan/indian-candidates-for-general-election-2019  Indian Candidates for General Election 2019         133KB  2020-03-03 07:01:53            653
gpiosenka/100-bird-species                                  140 Bird Species                                    828MB  2020-03-11 23:44:39            530
jessemostipak/hotel-booking-demand                          Hotel booking demand                                  1MB  2020-02-13 01:27:20           7980
tunguz/big-five-personality-test                            Big Five Personality Test                           159MB  2020-02-17 15:59:37           2410
arindam235/startup-investments-crunchbase                   StartUp Investments (Crunchbase)                      3MB  2020-02-17 21:54:42           1884
brendaso/2019-coronavirus-dataset-01212020-01262020         2019 Coronavirus dataset (January - February 2020)   53KB  2020-02-06 18:09:28           8082
jamzing/sars-coronavirus-accession                          SARS CORONAVIRUS ACCESSION                            2MB  2020-02-18 15:49:34           2173
timoboz/data-science-cheat-sheets                           Data Science Cheat Sheets                           596MB  2020-02-04 19:42:27           4148
brandenciranni/democratic-debate-transcripts-2020           Democratic Debate Transcripts 2020                  565KB  2020-02-27 00:07:40            588

In [3]:
# download the Kaggle data to the remote machine
!kaggle competitions download -c nyc-taxi-trip-duration

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
Downloading test.zip to /content
 25% 5.00M/20.3M [00:00<00:00, 37.5MB/s]
100% 20.3M/20.3M [00:00<00:00, 80.8MB/s]
Downloading train.zip to /content
 70% 44.0M/62.9M [00:00<00:00, 69.7MB/s]
100% 62.9M/62.9M [00:00<00:00, 128MB/s]
Downloading sample_submission.zip to /content
  0% 0.00/2.49M [00:00<?, ?B/s]
100% 2.49M/2.49M [00:00<00:00, 82.7MB/s]

In [15]:
import pandas as pd
import os
# check current working directory for file traversal
print(os.getcwd())

/content

In [10]:
#unzip the training files
!unzip -qq /content/train.zip -d /content/

replace /content/train.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y

In [13]:
#unzip the test files
!unzip -qq /content/test.zip -d /content/

replace /content/test.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y

In [0]:
df_taxi = pd.read_csv("train.csv")

In [17]:
df_taxi.head()

          id  vendor_id  ... store_and_fwd_flag trip_duration
0  id2875421          2  ...                  N           455
1  id2377394          1  ...                  N           663
2  id3858529          2  ...                  N          2124
3  id3504673          2  ...                  N           429
4  id2181028          2  ...                  N           435

[5 rows x 11 columns]